/* Genel stil ayarları */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Yukarıdan ve aşağıdan boşluk */
  margin: 0;
  min-height: 100vh; /* Ekranın tamamını kaplasın */
  box-sizing: border-box; 
  background-image: url(./g1.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  max-width: 500px; /* Maksimum genişlik */
  height: auto; /* Yükseklik otomatik ayarlanır */
  width: 90%; /* Ekranın %90'ını kaplasın */
  padding: 10px; /* İçerik boşluğu */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #e6ccff; 
  border-radius: 10px;
  overflow: hidden; /* Taşan içeriği gizle */
}

h1 {
  color: #4b2c91;
  font-size: 1.6rem; 
  font-family: 'Pacifico', cursive;
  margin: 0; 
}

h2 {
  font-size: 1.4rem;
  color: #6a4c93; 
  font-family: 'Montserrat', sans-serif; 
}

h3, h5, p {
  color: #6a4c93; 
  font-size: 0.9rem; 
  margin: 0; 
}

.timer { /*zamanalayıcı*/
  font-size: 1rem; 
  color: #9c7cd9; 
  margin-top: 5px; /* Yukarıdaki boşluk */
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px; /* Aralık */
}

.start-screen button {
  padding: 8px 15px; /* Buton boyutu */
  background-color: #7b5fce; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem; 
  transition: background-color 0.3s ease;
}

.start-screen button:hover {
  background-color: #6850b5; 
}

.start-screen button:focus {
  outline: none;
}

.question-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-image {
  width: 100%;
  max-width: 250px; /* Resmin genişliği */
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Seçenekler */
.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* İki sütun oluşturuldu */
  gap: 10px; /* Aralık */
  margin-top: 10px; /* Yukarıdaki boşluk */
  width: 100%;
}

.option-button {
  padding: 8px; /* Buton boyutu */
  font-size: 0.8rem; 
  color: white; 
  background-color: #9c7cd9; 
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

.option-button:hover {
  background-color: #825dcf; 
}

/* Seçilen cevap stili */
.selected-answer {
  color: #ff6b6b; /* Kırmızı tonları */
  font-weight: bold; /* Kalın yazı stili */
  margin-top: 10px; /* Yukarıdaki boşluk */
}

/* Seçilen cevap etiketinin stili */
.selected-label {
  color: #4b2c91; 
  font-weight: bold; 
  margin-top: 5px; 
}

.next-button {
  margin-top: 10px; 
  padding: 8px 15px; 
  font-size: 0.9rem; 
  background-color: #7b5fce; 
  color: white; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block; /* Butonun görünmesini sağlar */
}

.next-button:hover {
  background-color: #6850b5; 
}

.result-screen {
  margin-top: 10px; 
}

.result-screen button {
  background-color: #7b5fce; 
  color: white; 
  padding: 8px 15px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px; 
}

/* Test sonucundaki cevapların gösterildiği alan için stil */
.answers-list {
  display: flex;
  flex-direction: column;
  gap: 5px; 
  margin-top: 10px; 
}

.answer-item {
  padding: 10px; /* İçerik alanı */
  border-radius: 8px;
  border: 2px solid #ddd;
  background-color: #f9f9f9;
}

.answer-item.correct {
  border-color: #4caf50; 
  background-color: rgba(76, 175, 80, 0.2); 
}

.answer-item.incorrect {
  border-color: #f44336; /* Kırmızı kenarlık */
  background-color: rgba(244, 67, 54, 0.2); 
}

.answer-item p {
  margin: 5px 0;
}

.answers-list strong {
  font-weight: bold;
  color: #333;
}
